aws_region                 = "us-east-1"
student_id                 = "student01"
name_prefix                = "baylearn-lab05"
budget_notification_email  = "you@example.com"
budget_limit_usd           = 5
enable_cloudtrail          = true
enable_config              = false
expiration_date            = "2026-07-16"
